/* Estilos generales */
body {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  background-color: black;
  background-size: cover;
  color: white;
  font-family: merienda, sans-serif;
  filter: brightness(1.1) contrast(1.05) saturate(1.10);
}

  

.pizza a{
  color:#ff991c;
  font-weight:700;
 margin-top:20px;
  margin-bottom:20px;
  display:block;
  font-size:18px;
  
}

.pizza a:hover {
  
  transform: scale(1.12);
}

.fila {
  display:flex;
  justify-content: center;
  justify-items: center;
  margin-bottom:80px;
  gap:80px;
}



.pizza {
  border:solid 1px darkorange;
  text-align:center;
  border-radius:5px;
  background-color: black;
  display:block;
  
}

.pizza img {
  width:310px;
  filter: brightness(0.85) contrast(1.10) saturate(1.0);
  display: block;
  margin:0 auto;
  margin-top:5px;
  
}
.pizza h3 
{
  margin-bottom:20px;
  color:darkorange;
  
}

#recetas{
  scroll-margin-top: 50px;
}

#videos {
  scroll-margin-top: 99px;
  
  }

#contacto {
  scroll-margin-top:20px;
}

/* Header */

header h1 {
  font-weight: 700;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #e36d05;
  filter: brightness(1.3) contrast(1.05) saturate(1.10);
}

/* Texto descriptivo */
p {
  font-weight:600;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  filter: brightness(1.1) contrast(1.05) saturate(1.10);
}

/* Imágenes y vídeos */
figure img{
  filter: brightness(1.1) contrast(1.05) saturate(1.10);
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom:25px;
  width:475px;
}

img{
   filter: brightness(1.1) contrast(1.05) saturate(1.10);
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom:25px;
  width:175px;
}

.videos  {
  border: none;
  border-radius: 10px;
  margin: 30px auto;
  display: block;
  width: 370px;
  height: 200px;
  margin-bottom:60px;
  margin-top:55px;
}

.videos2 {
  margin-top:50px;
  margin-bottom:80px;
}

/* Contacto */
section h2 {
  color: #e36d05;
  filter: brightness(1.3) contrast(1.05) saturate(1.10);
  font-weight: 700;
  font-size: 36px;
  
  margin: 30px;
  
  text-align: center;
}

section p {
  font-size: 16px;
  filter: brightness(1.1) contrast(1.05) saturate(1.10);
  margin-bottom: 38px;
  font-weight: 600;
}

form {
  background: rgba(0,0,0,0.6);
  display: inline-block;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 134, 28, 0.9);
  max-width: 400px;
  width: 50%;
  text-align: left;
  margin-bottom:40px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #fff;
}

input, textarea {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  font-family: merienda, sans-serif;
  background: rgba(255,255,255,0.1);
  color: #fcbb60;
  font-size: 16px;
}

input::placeholder, textarea::placeholder {
  color: #fff;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  font-family: merienda, sans-serif;
  background-color: #ff7700;
  color: #310a2e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
}

button:hover {
  transform: scale(1.06);
}

/* Responsivo */
@media (max-width: 600px) {
  header h1 { font-size: 27px; }
  contacto h2 { font-size: 25px; }
  header p, videos, videos2, p { font-size: 15px; }
  img, section.videos iframe { width: 90%; height: auto; }
  form { width: 90%; padding: 10px; }
 
}

@media (min-width: 481px) and (max-width: 768px) {
  header h1 { font-size: 40px; }
  
}