body {

margin-top: 60px;
margin-bottom: 60px;
margin-left: 60px;
margin-right:60px;
background-color: black;
background-size: cover;
filter: brightness(1.2) contrast(1.05) saturate(1.10);
}

/* Título principal */
h1 {
font-family: "Bungee Spice", cursive;
font-weight: 800;
font-size: 53px;
text-align: center;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
margin-top: 40px;
margin-bottom: 20px;
filter: brightness(1.2) contrast(1.05) saturate(1.10);
}

.recetasP {
margin-bottom: 34px;
}

p {
color: white;
font-weight: 700;
text-align: center;
padding-top: 10px;
padding-bottom:15px;
font-family: merienda, sans-serif;
font-size: 15px;
filter: brightness(1.2) contrast(1.05) saturate(1.10);
}

.pizza{
 
font-family: merienda;
color:orangered;
  
   
}

div {
text-align:center;
margin: 30px;
font-family: merienda, sans-serif;
font-weight: 700;
font-style: italic;
font-size: 20px;
filter: brightness(1.2) contrast(1.05) saturate(1.10);
}

/* Enlaces */
a {
font-size:20px;
text-decoration: none;
font-weight: 800;
-webkit-font-smoothing: antialiased;
font-family: merienda;
color:#ff4f00;
text-shadow: 0 0 1px rgba(255,0,255,0.6);
transition: all 0.4s ease;
filter: brightness(1.8) contrast(1.1) saturate(1.10);
}

a:hover {
text-shadow:
0 0 6px rgba(236, 0, 255, 0.5),
0 0 10px rgba(255,0,225,0.3);
transform: scale(1.08);
}

/* Imágenes y vídeos */
img {
filter: brightness(0.9) contrast(0.95);
border-radius: 5px;
margin-top: 30px;
}

video {
margin: 20px 0 10px 0;
border-radius: 10px;
}

iframe {
border: none;
border-radius: 10px;
margin: 20px 0 10px 0;
}

/* Formulario */
h2 {
font-family: "Bungee Spice", cursive;
font-weight: 800;
font-size: 45px;
margin-bottom: 20px;
text-transform: uppercase;
text-shadow: 0 0 1px rgba(255,0,255,0.6);
}

form {
background: rgba(0, 0, 0, 0.6);
padding: 30px;
border-radius: 15px;
display: inline-block;
text-align: left;
}

label {
display: block;
margin-top: 15px;
font-weight: 600;
color: #fff;
}

input, textarea {
width: 100%;
padding: 10px;
margin-top: 5px;
border-radius: 5px;
border: none;
font-family: merienda, sans-serif;
}

button {
margin-top: 20px;
padding: 10px 20px;
font-family: merienda;
font-size: 16px;
background-color: #ff5f1f;
font-weight: bold;
color: #ff5f1f;
border: none;
border-radius: 8px;
cursor: pointer;
transition: all 0.3s ease;
}

button:hover {
transform: scale(1.05);
}



form {
    width: 95%;
    margin: 20px auto;
}

/* Móviles pequeños */
@media (max-width: 480px) {
  h1 { font-size: 30px; }
  a { font-size: 20px; }
  h2 { font-size: 30px; }
  p { font-size:15px; }
  div { margin: 20px; font-size: 14px; }
  video, iframe, img { width: 90%; height: auto; }
  form {width:90%; height : auto;}
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  h1 { font-size: 40px; }
  div { margin: 15px; font-size: 16px; }
}

